@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Public Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    overflow-x: hidden;
    background-color: rgb(250, 250, 250);
}

/* Global */
.wrapper {
    margin: auto;
    width: 80%;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.request-invite a {
    color: white;
    display: block;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    padding: 15px 25px;
    border-radius: 30px;
    font-weight: bold;
    font-size: .75rem;
    letter-spacing: 1px;
}

.request-invite a:hover {
    opacity: 0.6;
}

main {
    overflow: hidden;
}

/* Header */

header {
    z-index: 1;
    position: relative;
    background-color: white;
    height: 4rem;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar {
    width: 30rem;
    height: 100%;
}

.navbar .navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 14px;
}



.navbar .navbar-list .navbar-list-items {
    height: 100%;
    padding: 0 1rem;
}


.navbar .navbar-list .navbar-list-items a {
    height: 100%;
    display: flex;
    align-items: center;
    color: hsl(233, 8%, 62%);
    border-bottom: 4px solid white;
}

.navbar .navbar-list .navbar-list-items a:hover {
    border-bottom: 4px solid;
    border-image-source: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-image-slice: 1;
}

#menu-hamburger {
    display: none;
}

#menu-close {
    display: none;
}

#menu-hamburger:hover {
    cursor: pointer;
}

#menu-close:hover {
    cursor: pointer;
}
/* Showcase */

.showcase {
    background: url('./images/bg-intro-desktop.svg');
    background-size: 1075px;
    background-position: top -200px right -375px;
    background-repeat: no-repeat;
}

.showcase .showcase-container {
    display: flex;
    justify-content: space-between;
}

.showcase .showcase-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    max-width: 450px;
    padding: 8rem 0;
}

.showcase .showcase-content > * {
    margin-bottom: 2.25rem;
}

.showcase .showcase-content h1 {
    font-size: 3rem;
    font-weight: 300;
}

.showcase .showcase-content p {
    color: hsl(233, 8%, 62%);
    line-height: 1.75rem;
}

.mock-up {
    width: 50%;
    position: relative;
}

.mock-up img {
    /* check later */
    width: 700px;
    position: absolute;
    right: -250px;
    top: -110px;
}


/* Info */
.info {
    background-color: hsl(0, 0%, 94%);
}

.info .info-container {
    display: flex;
    flex-direction: column;
    padding: 7rem 0;
}

.info-heading {
    margin-bottom: 2rem;
    max-width: 650px;
}

.info-heading > * {
    padding-bottom: 1rem;
}
.info-heading h3 {
    font-weight: 300;
    font-size: 2rem;
}

.info-heading p {
    color: hsl(233, 8%, 62%);
    line-height: 1.75rem;
    font-weight: 300;
}

.info-cards {
    display: flex;
}

.info-cards .info-card {
    margin-right: 30px;
}

.info-cards .info-card img{
    margin-bottom: 2rem;
}

.info-cards .info-card h4 {
    font-weight: 300;
    font-size: 1.5rem;
    color: rgb(32, 29, 29);
    margin-bottom: 2rem;
}

.info-cards .info-card p {
    font-weight: 300;
    color: hsl(233, 8%, 62%);
    line-height: 1.75rem;
}

/* Articles */

.articles .articles-container {
    display: flex;
    flex-direction: column;
    padding: 7rem 0;
}

.articles-heading h3{
    font-weight: 300;
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.articles-cards {
    display: flex;
}

.articles-cards .articles-card {
    margin-right: 2rem;
    width: fit-content;
    background-color: white;
    border-radius: 0 0 5px 5px;

} 

.articles-cards .articles-card img {
    width: 100%;
    height: 50%;
    border-radius: 5px 5px 0 0;
}

.articles-info {
    padding: 1.5rem;
}

.articles-info p:first-child {
    font-size: 0.7rem;
    margin-bottom: 0.6rem;
    color: hsl(233, 8%, 62%);
}

.articles-info h5 {
    font-weight: 300;
    margin-bottom: 0.6rem;
}

.articles-info h5:hover,
.articles-info h5:focus {
    color: hsl(136, 65%, 51%);
    cursor: pointer;
}

.articles-info p:not(:first-child) {
    font-size: 0.8rem;
    color: hsl(233, 8%, 62%);
}

/* Footer */

footer {
    background-color: hsl(233, 26%, 24%);
}

.footer-container {
    display: flex;
    padding: 2rem 0 2rem 0;
    height: 10rem;
}


.footer-links {
    display: flex;
    gap: 100px;
    flex-basis: 75%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-nav-links ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footer-nav-links ul li a {
    color: hsl(0, 0%, 98%);
    font-size: 1rem;
    opacity: 0.7;
}

.footer-nav-links ul li a:hover,
.footer-nav-links ul li a:focus {
    color: hsl(136, 65%, 51%);
}

.footer-request {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: flex-end;
}

.footer-request .request-invite {
    background-color: white;
    border-radius: 30px;
}

.footer-request .request-invite a {
    width: fit-content;
}


.footer-request p {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.7);
}

.social-media-links a img:hover,
.social-media-links a img:focus {
    filter: invert(27%) sepia(51%) saturate(6500%) hue-rotate(80deg) brightness(200%) contrast(60%);
}

@media screen and (min-width: 1025px) {
    .navbar {
        display: flex !important;
    }

    #menu-hamburger, #menu-close {
        display: none !important;
    }

    .mock-up {
        display: block !important;
    }
}

@media screen and (max-width: 1024px) {

    header .request-invite {
        display: none;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 150%;
        left: 10vw;
        right: 10vw;
        height: 250px;
        border-radius: 10px;
        width: 80vw;
        background-color: white;
        box-shadow: 10px 10px 50px black;
    }

    .navbar .navbar-list .navbar-list-items a {
        color: black;
    }
    
    .navbar .navbar-list {
        flex-direction: column;
    }

    .request-invite {
        margin: 0 auto;
    }

    .showcase {
        background: url('./images/bg-intro-mobile.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        min-height: 800px;
        background-position: top right;
        position: relative;
    }

    .showcase .showcase-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items:center;
    }

    .showcase .showcase-content h1 {
        font-size: 2rem;
    }

    .mock-up img {
        transform: scale(0.5);
        right: -280px;
        top: -320px; 
    }

    .showcase .showcase-content {
        text-align: center;
        padding: 0;
        position: absolute;
        top: 400px;
        width: 80%;
    }


    #menu-hamburger {
        display: block;
    }

    .info .info-container {
        text-align: center;
    }

    .info-cards .info-card  {
        margin-right: 0;
        margin-top: 30px;
    }

    .articles .articles-container { 
        text-align: center;
    }

    .articles-cards .articles-card {
        margin-right: 0;
        margin-bottom: 30px;
    }


    .info-cards, .articles-cards, .footer-container, .footer-links {
        flex-direction: column;
        justify-content: space-between;
    }

    .footer-container {
        text-align: center;
        height: min-content;
    }

    .footer-links {
        gap: 0;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .footer-content {
        margin-bottom: 20px;
    }

    .footer-content img {
        margin-bottom: 10px;
    }

    .footer-nav-links {
        justify-content: space-between;
    }

    .footer-nav-links li {
        margin-bottom: 10px;
    }

    .footer-request {
        align-items: center;
    }

    .footer-request > * {
        margin-bottom: 10px;
    }
}


